<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Siksha - Online Course HTML template">
    <meta name="keywords" content="education, academy, courses, education landing page, udemy, university, online courses, education center, education Learning, learning" />
    <title>Siksha - Online Course HTML template</title>
    <link rel=icon href="assets/img/favicon.png" sizes="20x20" type="image/png">

    <!-- font aswome -->
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="assets/css/vendor.css">
    <link rel="stylesheet" href="assets//sass/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">

</head>
<body>

    <!-- preloader area start -->
    <div class="preloader" id="preloader">
        <div class="preloader-inner">
            <div class="spinner">
                <div class="dot1"></div>
                <div class="dot2"></div>
            </div>
        </div>
    </div>
    <!-- preloader area end -->

    <!-- search popup start-->
    <div class="td-search-popup" id="td-search-popup">
        <form action="index.html" class="search-form">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search.....">
            </div>
            <button type="submit" class="submit-btn"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <!-- search popup end-->
    <div class="body-overlay" id="body-overlay"></div>

    <!-- navbar start -->
    <div class="navbar-area">
        <nav class="navbar navbar-area-3 navbar-area navbar-expand-lg">
            <div class="container nav-container">
                <div class="responsive-mobile-menu">
                    <button class="menu toggle-btn d-block d-lg-none" data-target="#edumint_main_menu" 
                    aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-left"></span>
                        <span class="icon-right"></span>
                    </button>
                </div>
                <div class="logo">
                    <a href="index.html"><img src="assets/img/logo.png" alt="img"></a>
                </div>
                <div class="nav-right-part nav-right-part-mobile">
                    <a class="search-bar-btn" href="#"><i class="fa fa-search"></i></a>
                </div>
                <div class="collapse navbar-collapse" id="edumint_main_menu">
                    <ul class="navbar-nav menu-open text-right">
                        <li class="menu-item-has-children current-menu-item">
                            <a href="#">Home</a>
                            <ul class="sub-menu">
                                <li><a href="index-1.html">Home 01</a></li>
                                <li><a href="index-2.html">Home 02</a></li>
                                <li><a href="index-3.html">Home 03</a></li>
                                <li><a href="index-4.html">Home 04</a></li>
                                <li><a href="index-5.html">Home 05</a></li>
                                <li><a href="index-6.html">Home 06</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Course</a>
                            <ul class="sub-menu">
                                <li><a href="course.html">Course</a></li>
                                <li><a href="course-v2.html">Course V2</a></li>
                                <li><a href="single-course.html">Course Single</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Pages</a>
                            <ul class="sub-menu">
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="team.html">Instructor</a></li>
                                <li><a href="single-team.html">Instructor Details</a></li>
                                <li><a href="single-team-v2.html">Instructor Details V2</a></li>
                                <li><a href="event.html">Event</a></li>
                                <li><a href="single-event.html">Event Details</a></li>
                                <li><a href="signin.html">Sign In</a></li>
                                <li><a href="signup.html">Sign Up</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Blog</a>
                            <ul class="sub-menu">
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="blog-coloum-2.html">Blog Coloum 2</a></li>
                                <li><a href="blog-coloum-3.html">Blog Coloum 3</a></li>
                                <li><a href="blog-coloum-4.html">Blog Coloum 4</a></li>
                                <li><a href="single-blog.html">Blog Single</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Contact Us</a>
                            <ul class="sub-menu">
                                <li><a href="contact.html">Contact v1</a></li>
                                <li><a href="contact-v2.html">Contact v2</a></li>
                                <li><a href="contact-v3.html">Contact v3</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="nav-right-part nav-right-part-desktop">
                    <a class="search-bar-btn" href="#"><i class="fa fa-search"></i></a>
                    <div class="log-reg-btn d-inline-block ml-3">
                        <a class="btn btn-base-m" href="signin.html">Log In</a>
                        <a class="btn btn-transparent" href="signup.html">Sign up</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <!-- navbar end -->

    <!-- page title start -->
    <div class="page-title-area bg-sky" style="background-image: url('assets/img/banner/about-1.jpg');">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-8 text-center">
                    <div class="breadcrumb-inner">
                        <h2 class="page-title">About Us</h2>
                        <ul class="page-list">
                            <li><a href="index.html">Home</a></li>
                            <li>About Us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page title end --> 

    <!-- about area start -->
    <div class="about-area home-1-about bg-relative pd-top-120 pd-bottom-120" style="background-image: url('assets/img/bg/1.png');">
        <div class="container">
            <div class="about-area-inner">
                <div class="row">
                    <div class="col-lg-6 col-md-11">
                        <div class="about-thumb-wrap about-left-thumb">
                            <img src="assets/img/about/1.png" alt="img">
                        </div>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <div class="about-inner-wrap pt-4 pt-lg-0">  
                            <div class="section-title mb-0">
                                <h2 class="title">We’re here to help your modern <span>Education</span></h2>
                                <p class="content mb-4">This is Photoshop's version  of Lorem Ipsum. egravidae. sollicitudin, lorem quis bibendum auctor, nisil elit more consequat ipsumsagittis</p>
                                <p class="color-base mb-3"><img class="mr-2" src="assets/img/icon/4.png" alt="img"> Online Programme</p>
                                <p class="color-pink mb-3"><img class="mr-2" src="assets/img/icon/5.png" alt="img"> Educational Environment</p>
                                <p class="color-blue"><img class="mr-2" src="assets/img/icon/6.png" alt="img"> Schoolership Facility</p>
                                <a class="btn btn-base" href="course.html">Explore More +</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about area end --> 

    <!-- video area start -->
    <div class="video-area bg-relative">
        <div class="container">
            <div class="about-area-inner">
                <div class="row">
                    <div class="col-lg-6 col-md-11 order-lg-12">
                        <div class="video-thumb">
                            <img src="assets/img/about/2.png" alt="img">
                            <a class="video-play-btn" href="https://www.youtube.com/embed/Wimkqo8gDZ0" data-effect="mfp-zoom-in"><i class="fa fa-play"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-6 order-lg-1 align-self-center">
                        <div class="about-inner-wrap mt-2 pt-4 pt-lg-0">  
                            <div class="section-title mb-0">
                                <h2 class="title">Number & fact how famous Our  <span>Programme.</span></h2>
                                <p class="content mb-4">This is Photoshop's version  of Lorem Ipsum. egravidae. sollicitudin, lorem quis bibendum auctor, nisil elit more consequat ipsumsagittis</p>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-md-4">
                                    <div class="counter-list-inner text-center">
                                        <div class="details">
                                            <h2><span class="counter">50</span>+</h2>
                                            <p>Courses</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 mt-30 mt-sm-0">
                                    <div class="counter-list-inner text-center">
                                        <div class="details">
                                            <h2><span class="counter">1</span>M+</h2>
                                            <p>Students</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 mt-30 mt-sm-0">
                                    <div class="counter-list-inner text-center">
                                        <div class="details">
                                            <h2><span class="counter">50</span>+</h2>
                                            <p>Teachers</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- video area end --> 

    <!-- testimonial area start -->
    <div class="testimonial-area pd-top-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5 col-lg-6 col-md-11">
                    <div class="section-title text-center">
                        <h2 class="title">What They Are Talking <span>About Us</span></h2>
                    </div>
                </div>
            </div>
            <div class="testimonial-slider slider-control-dots owl-carousel">
                <div class="item">
                    <div class="single-testimonial-inner text-center">
                        <div class="test-thumb">
                            <img src="assets/img/team/1.png" alt="img">
                        </div>
                        <div class="client-info">
                            <h6>Abigail Barbara</h6>
                            <span>Happy Student</span>
                        </div>
                        <div class="client-review">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="test-desc">
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                                Excepteur sint occaecat </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="single-testimonial-inner text-center">
                        <div class="test-thumb">
                            <img src="assets/img/team/2.png" alt="img">
                        </div>
                        <div class="client-info">
                            <h6>Al Hshmud</h6>
                            <span>Happy Student</span>
                        </div>
                        <div class="client-review">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="test-desc">
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                                Excepteur sint occaecat </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="single-testimonial-inner text-center">
                        <div class="test-thumb">
                            <img src="assets/img/team/3.png" alt="img">
                        </div>
                        <div class="client-info">
                            <h6>Farguc Anti</h6>
                            <span>Happy Student</span>
                        </div>
                        <div class="client-review">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="test-desc">
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                                Excepteur sint occaecat </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="single-testimonial-inner text-center">
                        <div class="test-thumb">
                            <img src="assets/img/team/1.png" alt="img">
                        </div>
                        <div class="client-info">
                            <h6>Abigail Barbara</h6>
                            <span>Happy Student</span>
                        </div>
                        <div class="client-review">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="test-desc">
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                                Excepteur sint occaecat </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="single-testimonial-inner text-center">
                        <div class="test-thumb">
                            <img src="assets/img/team/2.png" alt="img">
                        </div>
                        <div class="client-info">
                            <h6>Al Hshmud</h6>
                            <span>Manager</span>
                        </div>
                        <div class="client-review">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="test-desc">
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                                Excepteur sint occaecat </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="single-testimonial-inner text-center">
                        <div class="test-thumb">
                            <img src="assets/img/team/3.png" alt="img">
                        </div>
                        <div class="client-info">
                            <h6>Farguc Anti</h6>
                            <span>SE Founder</span>
                        </div>
                        <div class="client-review">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="test-desc">
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                                Excepteur sint occaecat </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="single-testimonial-inner text-center">
                        <div class="test-thumb">
                            <img src="assets/img/team/1.png" alt="img">
                        </div>
                        <div class="client-info">
                            <h6>Abigail Barbara</h6>
                            <span>Happy Student</span>
                        </div>
                        <div class="client-review">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="test-desc">
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                                Excepteur sint occaecat </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- testimonial area end -->    

    <!-- team area start -->
    <div class="team-area pd-top-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center">
                        <h2 class="title">Check & Meets Experienced & Highly Skilled <span>Courses Teachers</span></h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="single-team-inner text-center">
                        <div class="thumb">
                            <img src="assets/img/team/1.png" alt="team">                       
                            <ul class="social-media">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div> 
                        <div class="details">
                            <h4><a href="single-team.html">Boris Johnson</a></h4>
                            <span>Design Expart</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-team-inner text-center">
                        <div class="thumb">
                            <img src="assets/img/team/2.png" alt="team">                       
                            <ul class="social-media">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div> 
                        <div class="details">
                            <h4><a href="single-team.html">Alex Pandiyan</a></h4>
                            <span>Executive Manager</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-team-inner text-center">
                        <div class="thumb">
                            <img src="assets/img/team/3.png" alt="team">                       
                            <ul class="social-media">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div> 
                        <div class="details">
                            <h4><a href="single-team.html">Doris Jordan</a></h4>
                            <span>Design Expart</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <!-- team area end -->    

    <!-- become area start -->
    <div class="become-area bg-parallax" style="background-image: url('assets/img/bg/blog-1.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="become-area-inner mr-lg-5">
                        <h2>Become An Instructor</h2>
                        <p>Grursus mal suada faci lisis Lorem ipsum dolarorit more ametion consectetur elit. Vesti at bulum the and the consectetur elit.</p>
                        <a class="btn btn-base-m" href="contact.html">Apply Now</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="become-area-inner pl-lg-5 ml-lg-5">
                        <h2>Free Courses Ready!</h2>
                        <p>Grursus mal suada faci lisis Lorem ipsum dolarorit more ametion consectetur elit. Vesti at bulum the and the consectetur elit.</p>
                        <a class="btn btn-base-m" href="contact.html">Apply Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- become area end -->

    <!-- footer area start -->
    <footer class="footer-area pd-top-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="widget widget_about pr-xl-4">
                        <div class="thumb">
                            <img src="assets/img/logo-2.png" alt="img">
                        </div>
                        <div class="details">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus eutri stique pellentesque donec </p>
                            <ul class="social-media-2 mt-3">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="widget widget_nav_menu">
                        <h4 class="widget-title">Company</h4>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="course.html">Course</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="widget widget_nav_menu">
                        <h4 class="widget-title">Category</h4>
                        <ul>
                            <li><a href="course.html">ALL Course</a></li>
                            <li><a href="course.html">Marketing</a></li>
                            <li><a href="course.html">Art</a></li>
                            <li><a href="course.html">Designing</a></li>
                            <li><a href="course.html">Data Analist</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="widget widget_contact pl-lg-3">
                        <h4 class="widget-title">Contact Us</h4>
                        <ul class="details">
                            <li><i class="fa fa-phone"></i> +(111)256 3527 56</li>
                            <li><i class="fa fa-envelope"></i> info@drivic.com</li>
                            <li><i class="fa fa-map-marker"></i> Pl, London NW1 The United of Rochester Kingdom</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p>Copyright © 2021 Siksha. All Right reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer area end -->

    <!-- back to top area start -->
    <div class="back-to-top">
        <span class="back-top"><i class="fa fa-angle-up"></i></span>
    </div>
    <!-- back to top area end -->


    <!-- all plugins here -->
    <script src="assets/js/vendor.js"></script>
    <!-- main js  -->
    <script src="assets/js/main.js"></script>
</body>
</html>